body {
    background-color: rgb(168, 164, 159);
}

h1 {
    text-align: center;
    transition: color 1s;
}


.timeline-with {
    margin: 20px;
    position: relative;
    border-left: 2px solid #d8dcd8;
    list-style: none;
    left: 10%;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
}

.timeline-icon::before {
    position: absolute;
    left: -40px;
    content: attr(data-range);
    font-weight: bold;
}

.timeline-icon {
    position: absolute;
    left: -45px;
    background: rgb(245, 237, 10);
    border-radius: 50%;
    width: 21px;
    height: 20px;
}

.card {
    width: calc(33.33% - 20px);
    margin-bottom: 10px;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.empty-card {
    height: 100%;
}

.empty-card-inner {
    height: 100%;
    border: 1px dashed hsla(240, 1%, 29%, 0.585);
    background-color: #edf0f4;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
}

.first-circle {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: rgba(255, 40, 17, 0.994);
}
.second-circle {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #57ee11da;
}

.third-circle {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: rgba(14, 14, 227, 0.855);
}

.red-title {
    color: crimson;
}

/* Se hacen modificaciones al CSS: se eliminan unas propiedades de flex y se agregan
a los ciruclos width, height y border radius */